@{
    //bloco C# posso utilizar o C# que quiser
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>professor @ViewData["Professor"]</p>
<p> @ViewData["Email"]</p>

<address>
<strong> More Information:</strong> <a href="http://educandoweb.com.br" target="_blank" > Educandoweb.com.br </a>
</address>
